<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * @category   Dh
 * @package    Dh_Shipnote
 * @copyright  Copyright (c) 2013 Drew Hunter (http://drewhunter.net)
 * @license    http://opensource.org/licenses/OSL-3.0  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Dh_ShipNote>
            <version>0.0.2</version>
        </Dh_ShipNote>
    </modules>
    <global>
        <models>
            <shipnote>
                <class>Dh_ShipNote_Model</class>
                <resourceModel>shipnote_resource</resourceModel>
            </shipnote>
            <shipnote_resource>
                <class>Dh_ShipNote_Model_Resource</class>
                <entities>
                    <note>
                        <table>shipnote_note</table>
                    </note>
                </entities>
            </shipnote_resource>
        </models>
        <resources>
            <shipnote_setup>
                <setup>
                    <module>Dh_ShipNote</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </shipnote_setup>
        </resources>
        <helpers>
            <shipnote>
                <class>Dh_ShipNote_Helper</class>
            </shipnote>
        </helpers>
        <blocks>
            <shipnote>
                <class>Dh_ShipNote_Block</class>
            </shipnote>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <shipnote>
                    <file>shipnote.xml</file>
                </shipnote>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dh_ShipNote>
                    <files>
                        <default>Dh_ShipNote.csv</default>
                    </files>
                </Dh_ShipNote>
            </modules>
        </translate>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <shipnote>
                        <type>model</type>
                        <class>Dh_ShipNote_Model_Observer</class>
                        <method>sales_convert_quote_to_order</method>
                    </shipnote>
                </observers>
            </sales_convert_quote_to_order>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <shipnote>
                        <type>model</type>
                        <class>Dh_ShipNote_Model_Observer</class>
                        <method>checkout_controller_onepage_save_shipping_method</method>
                    </shipnote>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <shipnote>
                    <file>shipnote.xml</file>
                </shipnote>
            </updates>
        </layout>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <shipnote>
                        <class>Dh_ShipNote_Model_Adminhtml_Observer</class>
                        <method>adminhtml_sales_order_create_process_data</method>
                    </shipnote>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_convert_quote_to_order>
                <observers>
                    <shipnote>
                        <type>model</type>
                        <class>Dh_ShipNote_Model_Adminhtml_Observer</class>
                        <method>sales_convert_quote_to_order</method>
                    </shipnote>
                </observers>
            </sales_convert_quote_to_order>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shipnote_options>
                                            <title>Ship Notes</title>
                                        </shipnote_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Dh_ShipNote>
                    <files>
                        <default>Dh_ShipNote.csv</default>
                    </files>
                </Dh_ShipNote>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <shipnote_options>
            <basic_settings>
                <enabled>1</enabled>
                <frontend_label>Shipping Instructions</frontend_label>
            </basic_settings>
        </shipnote_options>
    </default>
</config>
